

<h3>Log in </h3>

<%= form_tag sessions_path do %>
	<div class="row">
		<%= label_tag :email %><br/>
		<div class="small-4 columns">
			<%= text_field_tag :email, params[:email] %>
		</div>
	</div>
	<div class="row">
		<%= label_tag :password %><br/>
		<div class="small-4 columns">
			<%= password_field_tag :password %>
		</div>
	</div>
	<div class="small-4 columns">
		<input type="submit" value="Log In" style="height:2em; width:4em; font-size:0.9rem; background-color: #008cba;color:#fff;">
	</div>
	<div class="small-4 columns">
	<%= link_to 'Back To Home', sessions_path %>
	</div>
<% end %>


 