<%=	form_for(@assignment) do |f| %>
	<% if @assignment.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this task from being saved:</h2>

		<ul>
		<% @assignment.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
	<% end %>
	
	<div class="field">
		<%=	f.label :title %><br />
		<%= f.text_field :title %>
	</div>
	<div class="field">
		<%= f.label :description %><br />
		<%= f.text_area :description %>
	</div>
	<div class="field">
		<%= f.label :price_for_task %><br />
		<%= f.text_field :price_in_cents %>
	</div>
	<div class="field">
		<%= f.label :due_date %><br />
		<%= f.date_select :date %>
	</div>
	<div class="field">
		<%= f.label :time_of_day %><br>
		<%= f.time_select :time, {ampm: true} %>
	</div><br>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>