<%=	form_for(@assignment) do |f| %>
	<% if @assignment.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this task from being saved:</h2>

		<ul>
		<% @assignment.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
	<% end %>
	
	<div class="row">
		<div class="small-4 columns">
		<%=	f.label :title %><br />
		<%= f.text_field :title %>
		</div>
	</div>
	<div class="row">
		<div class="small-4 columns">
		<%= f.label :description %><br />
		<%= f.text_area :description %>
		</div>
	</div>
	<div class="row">
		<div class="small-4 columns">
		<%= f.label :price_for_task %> ($) <br />
		<%= f.text_field :price %>
		</div>
	</div>
	<div class="row">	
		<div class="small-12 columns">
			<%= f.label :due_date %><br />
			<%= f.date_select :date, {}, {class: "small-4 columns"} %>
		</div>
	</div>
	<div class="row">
	<div class="small-12 columns">	
		<%= f.label :time_due %><br>
		<%= f.time_select :time, {ampm: true, :time_separator => "" }, {class: "small-4 columns end"} %>
		</div>
		</div>
	</div><br>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>