 <h1 class="all_tasks">All TASKS </h1>

	<%= form_tag(assignments_path, :method => "get", id: "search-form") do %>
  	<%= text_field_tag :search, params[:search], placeholder: "Search Task Title" %>
  	<%= submit_tag "Search", :name => nil %>
	<% end %>


	
	<% @assignments.each do |assignment| %>
	<div class="show_tasks">
	  <b>Task Title: </b>
	  <%= link_to(assignment.title, assignment_path(assignment)) %>
	</div>
	<div class="show_tasks">
	  <b>Price:</b>
	  <%= number_to_currency(assignment.price) %>
	</div>


	</br>
	<% end %>


