<h1><%= @assignment.title %></h1>

<p>
  <b>Price: $</b> 
  <%= @assignment.formatted_price %>
</p>
<p>
  <b>Description:</b>
  <%= @assignment.description %>
</p>
<p>
  <b>Date due:</b>
  <%= @assignment.date %>
</p>
<p>

<%= button_to "Accept Task!", user_path, :class => "button", :method => :get %>
	







