<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#panel1"  data-options="is_hover:true">My created projects</a></li>
  <li class="tab-title"><a href="#panel2">My selected tasks</a></li>
  <li class="tab-title"><a href="#panel3">Matched Tasks</a></li>
  <li class="tab-title"><a href="#panel4">Reviews About <%= @user.first_name %></a></li>
</ul>
<div class ="tabs-content">
	<div class="content active" id="panel1">
		<dl>
			<% @my_assignments.each do |assign| %>
			<div>
				<dt><%= link_to assign.title, assignment_path(assign.id)%></dt>
				<dd>Task Date: <%=assign.date.strftime("%B %e, %Y") %></dd>
				<dd>Task Time: <%=assign.time.strftime("%l:%M %P") %></dd>
			</div>
			<% end %>
		</dl>
	</div>
	<div class="content" id="panel2">
		<dl>
		<div>
			<% @worker_assignments.each do |work| %>
				<dt><%= link_to work.title, assignment_path(work.id) %></dt>
				<dd>Task date due: <%=work.date.strftime("%B %e, %Y") %></dd>
				<dd>Task time due: <%=work.time.strftime("%l:%M %P")%></dd>		
			<% end %>
		</div>
		</dl>
	</div>

	<div class="content" id="panel3">
	<table>		
		<tr>
				<th>Task</th>
				<th>Customer</th>
				<th>Worker</th>
		</tr>
		<% @my_assignments.each do |match| %>
		<tr>
			<td><%= link_to match.title, assignment_path(match.id)%></td>
			<td><%= match.customer.first_name %> </td>
			<td><%= match.try(:worker).try(:first_name) %></td>
			<td><%= link_to "review", review_path('new') %> </td>
		<% end %>
	</div>


	<div>
		</tr>
		<% @worker_assignments.each do |work| %>
		<tr>		
		
				<td><%= link_to work.title, assignment_path(work.id) %></td>
				<td><%= work.customer.first_name %></td>
				<td><%= work.worker.first_name %></td>
				<td><%= link_to "review", new_assignment_review_path(work) %> </td>
		<% end %>

		</table>

	</div>


	<div class="content" id="panel4">
		<%= render @reviews_about_me %>
	</div>
</div>