<h1 style="font-family:Oswald,sans-serif">All USERS </h1>
<%= form_tag(users_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search By First Name" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>
<ul>
  <% @users.each do |user| %>
  <div style="font-family:Lato,sans-serif">
    <p>
      <a href="<%= user_path(user) %>">  
        <%= user.first_name %>  
        <%= user.last_name %>  
      </a>
    </p>
  <% end %>
</ul>