<h1>Sign Up</h1>
<%= form_for @user do |f| %>
	<div class="row">
		<%= f.label :first_name%><br/>
		<div class="small-4 columns">
			<%= f.text_field :first_name%>
		</div>
	</div>
	<div class="row">
		<%= f.label :last_name%><br/>
		<div class="small-4 columns">
			<%= f.text_field :last_name%>
		</div>
	</div>
	<div class="row">
		<%=f.label :school%><br>
		<div class="small-4 columns">
			<%= f.select :school, [['University of Toronto'],['York University'],['University of Western Ontario']]%>
		</div>
	</div>
	<div class="row">
		<%= f.label :phone_number%></br>
		<div class="small-4 columns">
			<%= f.text_field :phone%>
		</div>
	</div>
	<div class="row">
		<%= f.label :email%><br/>
		<div class="small-4 columns">
		<%= f.text_field :email%>
		</div>
	</div>
	<div class="row">
		<%= f.label :password%><br>
		<div class="small-4 columns">
		<%= f.password_field :password %>
		</div>
	</div>
	<div class="row">
		<%= f.label :password_confirmation %><br>
		<div class="small-4 columns">
		<%= f.password_field :password_confirmation %>
		</div>
	</div>
	<div class="row">
	 <%= f.label :user_profile_image %>
	 <%= f.file_field :avatar %>
	 </div>

	 <br><div class="action"><%= f.submit %></div>
	<div>
		<%= link_to 'Back', :back %>
	</div>
 <% end %>