<div class = "page-header">
	<h2><%= @user.first_name %> <%= @user.last_name %>'s Profile</h2>
	<%= image_tag @user.avatar_url(:medium) %>
</div>

<% if current_user == @user %>
	<%= render partial: 'cust_assign' %>
<% else %>
<h4>Reviews</h4>
	<div>
		<%= render @reviews_about_me %>
	</div>
<% end %>