<h1>All Reviews</h1>

<% @reviews.each do |review| %>
<p>
	<b>Task</b> 
	<%= review.assignment.title %>
</p>
<p>
	<b>Customer</b> 
	<%= review.customer.first_name %>
	<%= review.customer.last_name %>
</p>
<p>
	<b>Worker</b> 
	<%= review.worker.first_name%>
	<%= review.worker.last_name%>
</p>
<p>
	<b>Rating</b> 
	<%= review.rating %>
</p>
<p>
	<b>Comment</b> 
	<%= review.comment %>
</p>
<br>
<% end %>




