<h1>All Reviews</h1>

<% @reviews.each do |review| %>
<p>
	<b>Task</b> 
	<%= review.title %>
</p>
<p>
	<b>Worker</b> 
	<%= review.first_name %>
	<%= review.last_name %>
</p>
<p>
	<b>Rating</b> 
	<%= review.rating %>
</p>
<p>
	<b>Comment</b> 
	<%= review.comment %>
</p>
<br>
<% end %>




