<h1>Review form</h1>

<%= form_for @review do |f| %>

<%= render partial: 'details' %>

<div class="field">
		<%= f.label :rating %>
		<%= f.select :rating, [['1'],['2'],['3'],['4'],['5']]%>
</div>
<div class="field">
		<%= f.label :Comment %>
		<%= f.text_field :comment %>
</div></br>

<div class="action"><%= f.submit %></div>

<% end %>