<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Task Hackr" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
<header>
  <%=image_tag("LOGO.png")%>
</header>

  <body>
    <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1></h1>
       </li>
      <li class="toggle-topbar"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
        <ul class="left">
           <li> <%= link_to 'Home', new_session_path %></li>
           <li> <%= link_to 'Hackable Tasks', assignments_path %> </li>
           <li> <%=link_to "Create a New Task", new_assignment_path %></li>
         
             <li><%=link_to "View All Users", users_path() %></li>
      

         </ul>


      <ul class="right">
        <li class="userinfo">
        </li>
        
        <li class="has-dropdown">
          <a href="#">User</a>
          <ul class="dropdown">

            <% if current_user %>  
              <li><%= link_to "#{current_user.first_name}'s Profile", user_path(current_user) %></li>
              <li><%= link_to "Log out #{current_user.first_name}", session_path("current"), :method => :delete %></li>
             <% else %>    
               <li><%= link_to "Log in", new_session_path %> <%= link_to "Sign up", new_user_path %></li>
             <% end %>     
          </ul>
        </li>
     </ul>  
     </section>
   </nav>
   
 <% if flash[:notice] %>   
   <p id="notice" ><%= flash[:notice] %></p>   
  <% end %>    
  <% if flash[:alert] %>   
   <p id="alert"><%= flash[:alert] %></p>    
  <% end %>
    <%= yield %>
  </body>
</html>
